# будут игнорироваться все файлы и каталоги с расширением _old
# вне зависимости от того, в каком каталоге они находятся
*_old

# будут игнорироваться все файлы и каталоги с расширением _backup
# вне зависимости от того, в каком каталоге они находятся
*_backup

# будут игнорироваться все файлы и каталоги с расширением Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
*Thumbs.db

# будут игнорироваться все файлы и каталоги с расширением .DS_Store
# вне зависимости от того, в каком каталоге они находятся
*.DS_Store 

# будет игнорироваться относительно файла
# чаще всего относительно всего проекта
/tmp/ 